#table-flip {
  .form {
    display: none;
    font-size: 0;
    height: 0;
    opacity: 0;
    position: relative;
    transition: 500ms;
  }
}

#table-flip[class*="2"] {

  &.valid-email input {
    color: rgb(0, 255, 173) !important;
  }
  &.valid-email.has-message:not(.fail) button:last-of-type {
    background: $yellow;
    color: black;
    cursor: pointer;
    opacity: 1;
    
    &:hover {
      color: white;
    }
  }
      
  .form {
    display: inline-block;
    height: auto;
    opacity: 1;
    position: relative;

    .message {
      background: $blue;
      font-size: 17px;
      letter-spacing: 2px;
      line-height: 30px;
      padding: 10px;
      text-align: center;
    }

    .email input, .u_message textarea {
      letter-spacing: 2px;
      margin: 0;
      padding: 30px 0;
      text-align: center;
    }

    .email {
      background: $turquoise;
    
      input {
        color: rgb(255, 131, 131);

        &:focus { 
          background: darken($turquoise, 10);
        }
      }
    }

    .u_message {
      background: $orange;
      

      textarea:focus { 
        background: darken($orange, 40);
      }
    }

    input, textarea, button {
      &:focus {
        outline-width: 0;
      }
    }

    input, textarea {
      background:transparent;
      border: none;
      color: white;
      font-size: 16px;
      resize: none;
      text-align: center;
      width: 100%;

      & { @include placeholder {
        color: white;
        letter-spacing: 2px;
      }}
    }

    button {
      border: none;
      color: white;
      font-size: 14px;
      font-weight: 700;
      margin: 0;
      padding: 15px 0px;
      text-transform: uppercase;
      transition: 200ms;
      width: 50%;

      &:first-of-type {
        cursor: pointer;
        background: black;
        &:hover {
          color: $yellow;
        }
      }

      &:last-of-type {
        background: $yellow;
        color: black;
        opacity: 0.5;
      }
    }
  }
}