.do-flip, 
.reverse-flip {
  animation-duration: .50s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

.do-flip {
  animation-name: bodyTableFlip;
  .tp-right & {
    animation-name: bodyTableFlipRight;  
  }
  .tp-top & {
    animation-name: bodyTableFlipTop;  
  }
  .tp-right.tp-top & {
    animation-name: bodyTableFlipTopRight;  
  }
}

.reverse-flip {
  animation-name: bodyTableReverseFlip;  
  .tp-right & {
    animation-name: bodyTableReverseFlipRight;  
  }
  .tp-top & {
    animation-name: bodyTableReverseFlipTop;  
  }
  .tp-right.tp-top & {
    animation-name: bodyTableReverseFlipTopRight;  
  }
}

//right top
@keyframes bodyTableFlipTopRight {
  0% {
    opacity: 1;
    transform-origin: right bottom;
  }

  100% {
    background-color: black;
    opacity: 0;
    transform-origin: right bottom;
    transform: rotate3d(0, 0, -1, 90deg);
  }
}

@keyframes bodyTableReverseFlipTopRight {
  0% {
    background-color: black;
    opacity: 0;
    transform-origin: right bottom;
    transform: rotate3d(0, 0, -1, 90deg);
  }
  100% {
    opacity: 1;
    transform-origin: right bottom;
  }
}

//left top
@keyframes bodyTableFlipTop {
  0% {
    opacity: 1;
    transform-origin: left bottom;
  }

  100% {
    background-color: black;
    opacity: 0;
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 90deg);
  }
}

@keyframes bodyTableReverseFlipTop {
  0% {
    background-color: black;
    opacity: 0;
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    opacity: 1;
    transform-origin: left bottom;
  }
}


//right bottom
@keyframes bodyTableFlipRight {
  0% {
    opacity: 1;
    transform-origin: left top;
  }

  100% {
    background-color: black;
    opacity: 0;
    transform-origin: left top;
    transform: rotate3d(0, 0, 1, 90deg);
  }
}

@keyframes bodyTableReverseFlipRight {
  0% {
    background-color: black;
    opacity: 0;
    transform-origin: left top;
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    opacity: 1;
    transform-origin: left top;
  }
}

//left bottom
@keyframes bodyTableFlip {
  0% {
    background-color: initial;
    opacity: 1;
    transform-origin: right bottom;
  }

  100% {
    background-color: black;
    opacity: 0;
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
  }
}

@keyframes bodyTableReverseFlip {
  0% {
    background-color: black;
    opacity: 0;
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    background-color: initial;
    opacity: 1;
    transform-origin: right bottom;
  }
}

@keyframes disco {
  0% {
    color: black;
  } 50% {
    color: white;
  } 100% {
    color: black;
  } 
} 

@keyframes discoTwo {
  0% {
    color: black;
  } 50% {
    color: white;
  } 100% {
    color: black;
  } 
} 