@import "keyframes";

.do-flip {
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-name: bodyTableFlip;
  
}

[class^="table-flip-"] {
  animation-iteration-count: infinite;
  animation-name: discoBackground;
  color: black;
  cursor: pointer;
  font-family:helvetica;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
  bottom: 0;
  left: 15px;
  padding: 10px;
  position: relative;
  z-index: 1337;
}


.table-flip-0 {
  opacity: 0.4;
  transition: 0.2s;
  background-color: transparent;
}
.table-flip-0:hover {
  opacity: 1;
  background-color: white;
}

.table-flip-1 {
  animation-fill-mode: forwards;
  bottom: 15px;
  left: 15px;
  animation-duration: 2s;
}

.table-flip-2 {
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.table-flip-3 {
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}

