@-webkit-keyframes bodyTableFlipTopRight {
  0% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; } }

@keyframes bodyTableFlipTopRight {
  0% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; } }

@-webkit-keyframes bodyTableReverseFlipTopRight {
  0% {
    background-color: black;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@keyframes bodyTableReverseFlipTopRight {
  0% {
    background-color: black;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@-webkit-keyframes bodyTableFlipTop {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

@keyframes bodyTableFlipTop {
  0% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

@-webkit-keyframes bodyTableReverseFlipTop {
  0% {
    background-color: black;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@keyframes bodyTableReverseFlipTop {
  0% {
    background-color: black;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@-webkit-keyframes bodyTableFlipRight {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; } }

@keyframes bodyTableFlipRight {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; } }

@-webkit-keyframes bodyTableReverseFlipRight {
  0% {
    background-color: black;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@keyframes bodyTableReverseFlipRight {
  0% {
    background-color: black;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate3d(0, 0, -1, 90deg);
            transform: rotate3d(0, 0, -1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@-webkit-keyframes bodyTableFlip {
  0% {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

@keyframes bodyTableFlip {
  0% {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    background-color: black;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

@-webkit-keyframes bodyTableReverseFlip {
  0% {
    background-color: black;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@keyframes bodyTableReverseFlip {
  0% {
    background-color: black;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
            transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; }

  100% {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1; } }

@-webkit-keyframes disco {
  0% {
    color: black; }

  50% {
    color: white; }

  100% {
    color: black; } }

@keyframes disco {
  0% {
    color: black; }

  50% {
    color: white; }

  100% {
    color: black; } }

@-webkit-keyframes discoTwo {
  0% {
    color: black; }

  50% {
    color: white; }

  100% {
    color: black; } }

@keyframes discoTwo {
  0% {
    color: black; }

  50% {
    color: white; }

  100% {
    color: black; } }

#table-flip .form {
  position: relative;
  font-size: 0;
  opacity: 0;
  display: none;
  -webkit-transition: 500ms;
          transition: 500ms;
  height: 0; }

#table-flip[class*="2"].valid-email input {
  color: #00ffad !important; }
#table-flip[class*="2"].valid-email.has-message:not(.fail) button:last-of-type {
  opacity: 1;
  cursor: pointer;
  background: #ffc107;
  color: black; }
  #table-flip[class*="2"].valid-email.has-message:not(.fail) button:last-of-type:hover {
    color: white; }
#table-flip[class*="2"] .form {
  display: inline-block;
  position: relative;
  height: auto;
  opacity: 1; }
  #table-flip[class*="2"] .form .message {
    background: #4dbfbf;
    letter-spacing: 2px;
    padding: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 17px; }
  #table-flip[class*="2"] .form .email input, #table-flip[class*="2"] .form .u_message textarea {
    margin: 0;
    letter-spacing: 2px;
    padding: 30px 0;
    text-align: center; }
  #table-flip[class*="2"] .form .email {
    background: #4847b7; }
    #table-flip[class*="2"] .form .email input {
      color: #ff8383; }
      #table-flip[class*="2"] .form .email input:focus {
        background: #393992; }
  #table-flip[class*="2"] .form .u_message {
    background: #ff7959; }
    #table-flip[class*="2"] .form .u_message textarea:focus {
      background: #8c1a00; }
  #table-flip[class*="2"] .form input:focus, #table-flip[class*="2"] .form textarea:focus, #table-flip[class*="2"] .form button:focus {
    outline-width: 0; }
  #table-flip[class*="2"] .form input, #table-flip[class*="2"] .form textarea {
    resize: none;
    font-size: 16px;
    width: 100%;
    color: white;
    text-align: center;
    border: none;
    background: transparent; }
    #table-flip[class*="2"] .form input::-webkit-input-placeholder, #table-flip[class*="2"] .form textarea::-webkit-input-placeholder {
      color: white;
      letter-spacing: 2px; }
    #table-flip[class*="2"] .form input:-moz-placeholder, #table-flip[class*="2"] .form textarea:-moz-placeholder {
      color: white;
      letter-spacing: 2px; }
    #table-flip[class*="2"] .form input::-moz-placeholder, #table-flip[class*="2"] .form textarea::-moz-placeholder {
      color: white;
      letter-spacing: 2px; }
    #table-flip[class*="2"] .form input:-ms-input-placeholder, #table-flip[class*="2"] .form textarea:-ms-input-placeholder {
      color: white;
      letter-spacing: 2px; }
  #table-flip[class*="2"] .form button {
    margin: 0;
    -webkit-transition: 200ms;
            transition: 200ms;
    border: none;
    text-transform: uppercase;
    width: 50%;
    padding: 15px 0px;
    font-weight: 700;
    color: white; }
    #table-flip[class*="2"] .form button:first-of-type {
      cursor: pointer;
      background: black; }
      #table-flip[class*="2"] .form button:first-of-type:hover {
        color: #ffc107; }
    #table-flip[class*="2"] .form button:last-of-type {
      opacity: 0.5;
      background: #ffc107;
      color: black; }

.do-flip {
  overflow: hidden;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: bodyTableFlip;
          animation-name: bodyTableFlip; }
  .tp-right .do-flip {
    -webkit-animation-name: bodyTableFlipRight;
            animation-name: bodyTableFlipRight; }
  .tp-top .do-flip {
    -webkit-animation-name: bodyTableFlipTop;
            animation-name: bodyTableFlipTop; }
  .tp-right.tp-top .do-flip {
    -webkit-animation-name: bodyTableFlipTopRight;
            animation-name: bodyTableFlipTopRight; }

.reverse-flip {
  overflow: hidden;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: bodyTableReverseFlip;
          animation-name: bodyTableReverseFlip; }
  .tp-right .reverse-flip {
    -webkit-animation-name: bodyTableReverseFlipRight;
            animation-name: bodyTableReverseFlipRight; }
  .tp-top .reverse-flip {
    -webkit-animation-name: bodyTableReverseFlipTop;
            animation-name: bodyTableReverseFlipTop; }
  .tp-right.tp-top .reverse-flip {
    -webkit-animation-name: bodyTableReverseFlipTopRight;
            animation-name: bodyTableReverseFlipTopRight; }

.table-flip-wrapper {
  padding: 10px; }
  .tp-right .table-flip-wrapper {
    text-align: right; }

.tp-top .table-flip-wrapper #table-flip {
  top: 0;
  bottom: initial; }
  .tp-top .table-flip-wrapper #table-flip[class*="2"] {
    top: initial;
    bottom: 50%; }
.tp-right .table-flip-wrapper #table-flip {
  right: 0;
  left: initial; }
  .tp-right .table-flip-wrapper #table-flip[class*="2"] {
    right: 50%;
    left: initial; }
.tp-medium .table-flip-wrapper #table-flip {
  font-size: 14px;
  padding: 8px; }
.tp-large .table-flip-wrapper #table-flip {
  font-size: 16px;
  padding: 10px; }
.table-flip-wrapper #table-flip {
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  color: white;
  background: black;
  left: 0;
  bottom: 0;
  font-family: helvetica;
  font-size: 12px;
  vertical-align: middle;
  padding: 6px;
  position: relative;
  z-index: 1337;
  -webkit-transition: all 300ms;
          transition: all 300ms; }
  .table-flip-wrapper #table-flip a {
    display: none;
    opacity: 0;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    position: relative;
    font-size: 10px;
    color: white;
    text-decoration: none; }
  .table-flip-wrapper #table-flip:hover {
    color: #fb2d81; }
  .table-flip-wrapper #table-flip .text {
    cursor: pointer; }
  .table-flip-wrapper #table-flip[class*="0"] face {
    color: green; }
  .table-flip-wrapper #table-flip[class*="1"] face {
    color: orange; }
  .table-flip-wrapper #table-flip[class*="2"] {
    color: white;
    font-size: 25px;
    -webkit-transition: all 300ms;
            transition: all 300ms;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -240px -140px -200px -140px;
    width: 250px;
    height: 420px; }
    .table-flip-wrapper #table-flip[class*="2"] a {
      opacity: 1;
      color: white;
      display: inline-block; }
    .table-flip-wrapper #table-flip[class*="2"].fail .text {
      -webkit-animation: none;
              animation: none; }
    .table-flip-wrapper #table-flip[class*="2"] .text {
      -webkit-animation-duration: 0.15s;
              animation-duration: 0.15s;
      -webkit-animation-iteration-count: 10;
              animation-iteration-count: 10;
      -webkit-animation-name: disco;
              animation-name: disco;
      background: #fb2d81;
      color: white;
      padding: 20px 0;
      text-align: center; }
